<div class="container">
  <div class="row">
    <h3 class="col-9">投稿詳細</h3>
  </div>

  <div class='star-btn' id="favorite_<%= @post.id %>">
    <%= render "public/favorites/favorite", post: @post %>
  </div>

  <div class="mt-3">投稿件名：　<%=@post.name %></div>

  <div class="mt-3">
    投稿画像：　<%=image_tag @post.image,size:"350x250" %>
  </div>

  <div class="mt-3">投稿説明：　<%=@post.introduction %></div>

</div>