<div class="container">
  <div class="col">
    <h3 class="col-9">投稿編集</h3>
    <%= form_with model: @post, url: admin_post_path do |f| %>
      <p>
        <%= f.label :投稿件名, class: "col-2" %>
        <%= f.text_field :name, class: "col-3" %>
      </p>
      <p>
        <%= f.label :投稿画像, class: "col-2" %>
        <%= f.file_field :image %>
      </p>
      <p>
        <%= f.label :投稿説明, class: "col-2 align-top" %>
        <%= f.text_area :introduction, class: "col-6", style: "height:150px" %>
      </p>
      <p>
        <%= f.label :投稿表示, class: "col-2" %>
        <%= f.radio_button :is_active, true %>表示する
        <%= f.radio_button :is_active, false %>表示しない
      </p>

      <div class="col-2">
        <%=f.submit "変更を保存", class:"btn btn-success"%>
      </div>
  <% end %>
  </div>
</div>