<div class="container">
  <div class="row">
    <h3 class="col-8">投稿一覧</h3><%= form_tag admin_posts_path, method: :get, class: 'boards__searchForm' do %>
    <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
    {prompt: 'タグで絞り込み検索',onchange: 'submit(this.form);'}%>
    <% end %>　
    <div class="">
      <%= link_to "新規投稿", new_admin_post_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <table class="col-11 text-center m-2">
      <thead>
        <tr class="table-secondary">
          <td>投稿日時</td>
          <td>件名</td>
          <td>タグ</td>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td><%= link_to post.name, admin_post_path(post.id) %></td>
            <td><%=post.tag.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center">
    <%= paginate @posts %>
  </div>
</div>
