<div class="container">
  <div class="">
    <h3 class="text-left">新規投稿</h3>
    <%= form_with model: @post, url:admin_posts_path, local:true do |f| %>
      <p>
        <%= f.label :投稿件名,class: "col-2" %>
        <%= f.text_field :name, placeholder: "投稿件名",class: "col-6" %>
      </p>
      <p>
        <%= f.label :画像,class: "col-2" %>
        <%= f.file_field :image, accept: "image/*" %>
      </p>
      <p>
        <%= f.label :投稿説明,class: "col-2 align-top" %>
        <%= f.text_area :introduction, placeholder: "ここに説明を記述します",class: "col-6", style: "height:100px" %>
      </p>
      <p>
      <%= f.label :出欠確認,class: "col-2" %>
        <%= f.radio_button :is_active, "true" %>
        <%= f.label :is_active, "表示する" %>
        <%= f.radio_button :is_active, "false" %>
        <%= f.label :is_active, "表示しない" %>
      </p>
      <div class="row justify-content-center">
        <%= f.submit '投稿', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>