<div class="container">
  <div class="row">
    <h3 class="col-9">投稿詳細</h3>
  </div>

  <div class="mt-3">投稿件名：　<%=@post.name %></div>

  <div class="mt-3">
    投稿画像：　<%=image_tag @post.image,size:"350x250" %>
  </div>

  <div class="mt-3">投稿説明：　<%=@post.introduction %></div>

  <div class="mt-5">タグ名：　<%=@post.tag.name %></div>

  <div class="mt-5">投稿表示：　<% if @post.is_active == true %>
                                  表示する
                                <% else %>
                                  表示しない
                                <% end %>
  </div>

  <div class="comments mt-5">
      <%= form_with model:@comment, url:admin_post_comments_path(@post), local:true do |f| %>
        <%= f.text_area :comment, :size=>"60x3", placeholder: "コメントする" %>
        <%= f.submit "送信する", class: "btn btn-success mb-4" %>
      <% end %>

      <p>コメント件数：<%= @comments.count %></p>
      <% @comments.each do |comment| %>
    	  <div class="comments-index mb-2">
          <%= comment.user.name if comment.user %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><br>
          <div class="d-flex">
            <%= comment.comment %>
            <div class="comment-delete">
              <%= link_to "削除", admin_post_comment_path(comment.post, comment), method: :delete, class: "btn-sm btn-danger ml-4" %>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @comments %>
  </div>

  <%=link_to "編集する",edit_admin_post_path(@post),class: "btn btn-success mt-5" %>
</div>