<div class="container">
  <div class="row">
    <h3 class="col-9">ログイン</h3>
    <% if flash[:danger] %>
      <p class="text-red"><%= flash[:danger] %></p>
    <% end %>
  </div>

  <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
    <table class="user_info user_form">
      <tbody>
        <tr>
          <td>メールアドレス　</td>
          <td colspan="2"><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td colspan="2"><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </tbody>
    </table>

    <!--<#% if devise_mapping.rememberable? %>-->
    <!--  <div class="field">-->
    <!--    <#%= f.check_box :remember_me %>-->
    <!--    <#%= f.label :"メールアドレス、パスワードを記憶する" %>-->
    <!--  </div>-->
    <!--<#% end %>-->

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3 class="mt-5">登録がお済みでない方</h3>
  <p><%= link_to "こちら", new_user_registration_path, class: "underline" %>から新規登録を行なってください。</p>
  <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>　お試しの方はこちらから
</div>